.back-top-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    background-color: var(--orange-peel);
    color: var(--white);
    font-size: 22px;
    padding: 12px;
    border-radius: 50%;
    z-index: 3;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition-1);
}

.back-top-btn.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);
}