.register {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.register .form-wrapper {
    max-width: 35rem;
    background-color: aliceblue;
    padding: 2.5rem;
    border-radius: var(--radius-6);
    margin: 0 auto;
    margin-top: 6rem;
    text-align: center;
}

.register .form-content .input_boxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}

.register .form-content .input_boxes .valid-err {
    text-align: left;
    margin-top: 3px;
    font-size: 13px;
    color: #ff4646;
}

.register .form-text {
    margin-block-end: 30px;
}

.register .form-content label {
    display: flex;
    gap: 4px;
    margin-bottom: 6px;
    color: var(--black_80);
}

.register .form-content label span {
    color: var(--tart-orange);
    font-size: 20px;
}

.register .input-wrapper {
    position: relative;
    background-color: var(--white);
    border-radius: var(--radius-6);
}



.register .input-field {
    background-color: var(--white);
    color: inherit;
    height: 50px;
    padding-inline: 30px 10px;
    border-radius: var(--radius-6);
    width: 87%;
    outline: none;
}

.register .input-wrapper select {
    width: 100%;
    border: none;
    margin-block-end: 0px;
}

.register .input-wrapper.select-box {
    margin-bottom: 10px;
}

.register .input-wrapper select option {
    font-size: 18px;
    font-weight: var(--fw-500);
}

.register .input-wrapper ion-icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    --ionicon-stroke-width: 40px;
}

.register .view-password {
    color: var(--old-lavender);
    position: absolute;
    top: 50%;
    right: 40px;
    transform: translateY(-50%);
    --ionicon-stroke-width: 40px;
}

.register .view-password ion-icon {
    cursor: pointer;
    pointer-events: visible;
}

.register .forgot-password {
    float: right;
    margin-bottom: 10px;
    color: var(--black_80);
}

.register .login_btn {
    width: 100%;
    text-align: center;
    align-items: center;
    font-size: var(--fs-5);
    font-weight: var(--fw-700);
    padding: 7px 0;
    margin-top: 25px;
    border-radius: var(--radius-6);
    transition: var(--transition-1);
}

.register .cta {
    display: flex;
    margin-top: 20px;
    font-weight: 600;
    font-size: 15px;
    gap: 0.5rem;
    justify-content: center;
}

.register .cta a {
    font-weight: 500;
    color: var(--ultramarine-blue);
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

@media (min-width: 792px) {
    .register .form-wrapper {
        max-width: 65rem;
    }
    .register .form-content .input_boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}
